{% extends "base.html" %}
{% block hero_header %}
	<div id='current_song'><center><h1>Musicbox</h1></center></div>  <!--#TODO refresh when it's changing -->
{% endblock %}

{% block song_list %}
<ul class="list-group">

</ul>
{% endblock %}	
{% block file_upload %}
	{% include "file_upload.html" %}
{% endblock %}

{% block music_player %}
	<center><audio controls="" autoplay="" name="media"><source src="http://127.0.0.1:8000/stream.mp3" type="audio/mpeg"></audio></center>
{% endblock %}

</body>
</html>